*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2.5;
}

img {
  max-width: 100%;
  display: block;
}

.white_text {
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

/* Use the following to learn about CSS selectors: 
https://www.w3schools.com/cssref/css_selectors.php
https://https://www.youtube.com/watch?v=TbfIyjNTXbA
www.youtube.com/watch?v=hqPJHOqW-_I */

/* In video https://www.youtube.com/watch?v=X1dz0xRbSJc&t=1417s at time 22:16 the below gets explained. */

.split {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  gap: 1em;
  // -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  justify-content: center;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  /* FONT PROPERTIES */
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  /* Button characteristics */
  padding: 0.5em 1.25em;
  background: var(--clr-accent, rgb(48, 79, 220));
  border-radius: 0.25em;
  /* BUTTON TRANSFORMATION characteristics */
  // -webkit-
  // transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  // transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  // transition: transform 250ms ease-in-out, opacity 250ms linear;

  //   -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  /* -webkit-transform: scale(9.1); */
  transform: scale(1.3);
  opacity: 0.4;
}

.primary-title {
  color: white;
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  /* The clamp(smallest, grow rate, largest) CSS function clamps a middle value within a range of values between a defined minimum bound and a maximum bound. The function takes three parameters: a minimum value, a preferred value, and a maximum allowed value. */
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  /* color: rgb(147, 44, 44); */
  color: rgb(52, 44, 147);
  margin-bottom: 5rem;
}

/* When using a SAS - The @supports CSS at-rule lets you specify CSS declarations that depend on a browser's support for CSS features. Using this at-rule is commonly called a feature query. The rule must be placed at the top level of your code or nested inside any other conditional group at-rule. video explination GO TO:21:20 @ https://www.youtube.com/watch?v=X1dz0xRbSJc&list=RDCMUC29ju8bIPH5as8OGnQzwJyA&index=4  */
.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;

  @supports (background-blend-mode: multiply) {
    background: url(../img/shoe-3.png),
      radial-gradient(rgb(147, 44, 44), rgb(56, 39, 142));
    /* background: url(../img/shoe-3.png), radial-gradient(#444, #111); */
    background-blend-mode: multiply;
    background-size: 50%;

    /* background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: center center; */
  }
}

.featured {
  background: #22222226;
  // background: rgb(223, 222, 242);

  // background: radial-gradient(#2193b04f, #80008057);

  // padding: 3em;
  // margin-top: 2em;
  // margin-left: 2em;
  // margin-right: 2em;
  // border-radius: 2em;
  // margin-bottom: -2em;
  // text-align: center;

  &__item {
    display: block;
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #853f57;
    // color: #333;
    text-align: center;
    line-height: 1.2;

    &:hover,
    &:focus {
      transform: scale(1.1);

      .featured__details {
        opacity: 1;
        text-shadow: 0 0 2em rgba(#40b6cb, 1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 10%;
      padding: 75% 75% 0 0;
      border-radius: 50%;
      background: #1cbfe8;
      z-index: -1;
    }
  }

  &__details {
    opacity: 0;
    transition: opacity 250ms linear;

    // span changes the text in the featured products section. Comment out to see change.
    span {
      display: block;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}

.product {
  background: radial-gradient(
    var(--clr-inner, #2193b0),
    var(--clr-outer, purple)
  );
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 4em;
  text-align: center;

  &__title {
    font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 0.2em rgba(rgb(0, 0, 0), 0.2);
  }

  &__image {
    margin: -2em 0 0 0;
  }

  @media (min-width: 45rem) {
    text-align: left;
    margin-bottom: 8em;

    &__title {
      margin: 0;
    }

    &__image {
      float: right;
      width: 55%;
      // outline: 2px solid rgb(0, 0, 0);
      // outline: 3px solid black;
      shape-outside: url(../img/shoe-1.png);
      shape-margin: 1em;
      margin: 1 -5em 0 0;
    }

    &.shoe-left {
      .product__image {
        float: left;
        shape-outside: url(../img/shoe-2.png);
        margin: 0 0 0 -3em;
        shape-margin: 2em;
      }
    }
  }
}

.hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}
